.profile__job {
    max-width: 336px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #FFFFFF;
    line-height: 22px;
    font-size: 18px;
    margin: 16px 0 0;
}

@media screen and (max-width: 700px) {
    .profile__job {
        max-width: 250px;
        margin: 14px 0 0;
        font-size: 14px;
        line-height: 17px;
    }
}